
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 0;
}

.name {
    display: block;
    float: left;
    color: white;
    padding: 14px 16px;
    text-align: center;
    font-family: "Brush Script MT";
    font-size: 130%;
}

.links {
    font-family: "Times New Roman";
    font-size: 100%;
}

li a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: darkblue;
}

body {
    background: navy;
}

.nav-bar {
    width: 100%;
}

.index-body {
    padding: 10px;
    text-align: center;
    background: white;
    width: 80%;

    margin: auto;
    margin-top: 5px;
}

.picture {
    border: 3px solid black;
}

.index-body {
    border: 3px solid black;
}

